<a href="https://colab.research.google.com/github/luislauriano/Manipulacao_Tratamento_De_Dados/blob/master/Projeto_DesafioFinal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Atividades**
* 1. Leitura de arquivos
* 2. Tratamento de dados
  * 2.1. Renomear colunas
  * 2.2. Verificar tipos
  * 2.3. Deletar dados
* 3. Concatenar Tabelas
* 4. Correlação de Tabelas
* 5. Regra de Negócio
* 6. Exportar Dados

Ojetivo: Através da manipulação dos dados, preparar e tratar os dados dos conjunto de dados de vendas e detalhamento. Para gerar uma unica base de dados, que irá servir como relatório, indicador.

# **Importar biblioteca**

In [0]:
import pandas as pd

# **Leitura de arquivos**

# Arquivos CSV

In [0]:
df_vendas = pd.read_csv('vendas.csv', sep ='|')

# Arquivos XLSX

In [0]:
df_detalhamentoAM = pd.read_excel('detalhamento.xlsx', sheet_name='AM', skiprows=1 )
df_detalhamentoRR = pd.read_excel('detalhamento.xlsx', sheet_name='RR', skiprows=1 )
df_detalhamentoRO = pd.read_excel('detalhamento.xlsx', sheet_name='RO', skiprows=1 )
df_detalhamentoAC = pd.read_excel('detalhamento.xlsx', sheet_name='AC', skiprows=1 )

# **Tratamento de Dados**

## Renomeando colunas

In [0]:
df_vendas.columns = ['escritorio', 'operadora', 'material', 'data', 'valor_liquido']
df_vendas.head(3)

   escritorio operadora  ...        data valor_liquido
0         101      Vivo  ...  02.01.2020          20.0
1         101      Vivo  ...  30.12.2019          10.0
2         101      Vivo  ...  04.01.2020          20.0

[3 rows x 5 columns]

In [0]:
df_detalhamentoAM.columns = ['loja', 'escritorio', 'uf', 'operadora', 'valor_bruto']
df_detalhamentoAM.head(3)

            loja  escritorio  uf operadora  valor_bruto
0  BEMOL AVENIDA         103  AM     Claro         2651
1  BEMOL AVENIDA         103  AM        Oi         3309
2  BEMOL AVENIDA         103  AM       Tim         1550

In [0]:
df_detalhamentoRR.columns = ['loja', 'escritorio', 'uf', 'operadora', 'valor_bruto']
df_detalhamentoRR.head(3)

              loja  escritorio  uf operadora  valor_bruto
0  BEMOL BOA VISTA         701  RR     Claro          140
1  BEMOL BOA VISTA         701  RR        Oi           20
2  BEMOL BOA VISTA         701  RR       Tim          135

In [0]:
df_detalhamentoRO.columns = ['loja', 'escritorio', 'uf', 'operadora', 'valor_bruto']
df_detalhamentoRO.head(3)

                      loja  escritorio  uf operadora  valor_bruto
0  BEMOL FARMA PORTO VELHO         609  RO     Claro          486
1  BEMOL FARMA PORTO VELHO         609  RO        Oi           90
2  BEMOL FARMA PORTO VELHO         609  RO       Tim           90

In [0]:
df_detalhamentoAC.columns = ['loja', 'escritorio', 'uf', 'operadora', 'valor_bruto']
df_detalhamentoAC.head(3)

               loja  escritorio  uf operadora  valor_bruto
0  BEMOL RIO BRANCO         401  AC     Claro          500
1  BEMOL RIO BRANCO         401  AC        Oi          375
2  BEMOL RIO BRANCO         401  AC       Tim          125

## Verificar tipos de dados

### Verificar tipos

In [0]:
df_vendas.dtypes

escritorio         int64
operadora         object
material          object
data              object
valor_liquido    float64
dtype: object

In [0]:
df_detalhamentoAM.dtypes

loja           object
escritorio      int64
uf             object
operadora      object
valor_bruto     int64
dtype: object

In [0]:
df_detalhamentoRR.dtypes

loja           object
escritorio      int64
uf             object
operadora      object
valor_bruto     int64
dtype: object

In [0]:
df_detalhamentoRO.dtypes

loja           object
escritorio      int64
uf             object
operadora      object
valor_bruto     int64
dtype: object

In [0]:
df_detalhamentoAC.dtypes

loja           object
escritorio      int64
uf             object
operadora      object
valor_bruto     int64
dtype: object

### Alterando tipo de uma coluna

In [0]:
df_vendas['valor_liquido'] = df_vendas['valor_liquido'].astype(int)

## Deletar dados

In [0]:
df_vendas = df_vendas[['escritorio', 'operadora', 'valor_liquido']].copy()

In [0]:
df_detalhamentoAM = df_detalhamentoAM[['loja', 'escritorio', 'operadora', 'valor_bruto']].copy()
df_detalhamentoRR = df_detalhamentoRR[['loja', 'escritorio', 'operadora', 'valor_bruto']].copy()
df_detalhamentoRO = df_detalhamentoRO[['loja', 'escritorio', 'operadora', 'valor_bruto']].copy()
df_detalhamentoAC = df_detalhamentoAC[['loja', 'escritorio', 'operadora', 'valor_bruto']].copy()

# Concatenar tabelas (Juntar tabelas)

In [0]:
print('Amazonas(AM): ')
print(f'Linhas: {df_detalhamentoAM.shape[0]}')
print(f'Colunas {df_detalhamentoAM.shape[1]}')

Amazonas(AM):
Linhas: 126
Colunas 4

In [0]:
print('Roraima(RR): ')
print(f'Linhas: {df_detalhamentoRR.shape[0]}')
print(f'Colunas {df_detalhamentoRR.shape[1]}')

Roraima(RR):
Linhas: 8
Colunas 4

In [0]:
print('Rondônia(RO): ')
print(f'Linhas: {df_detalhamentoRO.shape[0]}')
print(f'Colunas {df_detalhamentoRO.shape[1]}')

Rondônia(RO):
Linhas: 24
Colunas 4

In [0]:
print('Acre(AC): ')
print(f'Linhas: {df_detalhamentoAC.shape[0]}')
print(f'Colunas {df_detalhamentoAC.shape[1]}')

Acre(AC):
Linhas: 4
Colunas 4

Agora vamos unificar todos esses conjuntos de dados em um único DF

In [0]:
df_detalhamento = pd.concat([df_detalhamentoAM,df_detalhamentoRR, df_detalhamentoRO, df_detalhamentoAC])

In [0]:
df_detalhamento = df_detalhamento.reset_index(drop=True)
df_detalhamento

                     loja  escritorio operadora  valor_bruto
0           BEMOL AVENIDA         103     Claro         2651
1           BEMOL AVENIDA         103        Oi         3309
2           BEMOL AVENIDA         103       Tim         1550
3           BEMOL AVENIDA         103      Vivo         4739
4           BEMOL BARROSO         107     Claro         1495
..                    ...         ...       ...          ...
157  LOJA BEMOL JI-PARANA         205     Claro          123
158      BEMOL RIO BRANCO         401     Claro          500
159      BEMOL RIO BRANCO         401        Oi          375
160      BEMOL RIO BRANCO         401       Tim          125
161      BEMOL RIO BRANCO         401      Vivo          343

[162 rows x 4 columns]

# **Correlação de Tabelas**

## Agrupamento de dados

In [0]:
df_vendas = df_vendas.groupby(['operadora', 'escritorio']).agg({'valor_liquido':'sum'})
df_vendas.sort_values(ascending=False, by='valor_liquido').reset_index()

    operadora  escritorio  valor_liquido
0        Vivo         103           4739
1        Vivo         115           4616
2        Vivo         604           4474
3        Vivo         500           3751
4        Vivo         106           3717
..        ...         ...            ...
158        Oi         701             20
159       Tim         530             20
160      Vivo         206             15
161       Tim         614             10
162       Tim         611             10

[163 rows x 3 columns]

In [0]:
df_detalhamento = df_detalhamento.groupby(['loja', 'operadora', 'escritorio']).agg({'valor_bruto':'sum'}).reset_index()
df_detalhamento.sort_values(ascending=False, by='valor_bruto').reset_index()

     index                         loja operadora  escritorio  valor_bruto
0        3                BEMOL AVENIDA      Vivo         103         4739
1       19            BEMOL CIDADE NOVA      Vivo         115         4616
2       43  BEMOL FARMA GRANDE CIRCULAR      Vivo         604         4474
3      149               BEMOL TORQUATO      Vivo         500         3751
4      137               BEMOL SHOPPING      Vivo         106         3704
..     ...                          ...       ...         ...          ...
157    156   LOJA BEMOL FARMA ARIQUEMES      Vivo         613           35
158    128  BEMOL PRESIDENTE FIGUEIREDO       Tim         530           20
159      9              BEMOL BOA VISTA        Oi         701           20
160    152         LOJA BEMOL ARIQUEMES      Vivo         206           15
161     46      BEMOL FARMA ITACOATIARA       Tim         611           10

[162 rows x 5 columns]

## Merge de tabelas

In [0]:
df_relatorio = pd.merge(df_detalhamento, df_vendas, on=['operadora', 'escritorio'], how='right')

In [0]:
df_relatorio.head(5)

            loja operadora  escritorio  valor_bruto  valor_liquido
0  BEMOL AVENIDA     Claro         103       2651.0           2652
1  BEMOL AVENIDA        Oi         103       3309.0           3309
2  BEMOL AVENIDA       Tim         103       1550.0           1550
3  BEMOL AVENIDA      Vivo         103       4739.0           4739
4  BEMOL BARROSO     Claro         107       1495.0           1495

### Tratando o pós merge

Na minha análise não encontrei valores faltantes. Mas mesmo assim vou utilizar o fillna para substituir os mesmos por 0 se houver.

In [0]:
df_relatorio = df_relatorio.fillna(0)

# **Regra de Negócio**

In [0]:
def status(valor_liquido, valor_bruto):
  if (valor_liquido != valor_bruto):
    return 'alerta'
  else:
    return ''

In [0]:
df_relatorio['status'] = df_relatorio.apply(lambda row: status(row['valor_liquido'], row['valor_bruto']), axis='columns')

In [0]:
df_relatorio

                           loja operadora  ...  valor_liquido  status
0                 BEMOL AVENIDA     Claro  ...           2652  alerta
1                 BEMOL AVENIDA        Oi  ...           3309
2                 BEMOL AVENIDA       Tim  ...           1550
3                 BEMOL AVENIDA      Vivo  ...           4739
4                 BEMOL BARROSO     Claro  ...           1495
..                          ...       ...  ...            ...     ...
158  LOJA BEMOL FARMA JI PARANA        Oi  ...             95
159  LOJA BEMOL FARMA JI PARANA       Tim  ...             50
160  LOJA BEMOL FARMA JI PARANA      Vivo  ...             70
161        LOJA BEMOL JI-PARANA     Claro  ...            123
162                           0       Tim  ...             10  alerta

[163 rows x 6 columns]

# **Exportanto Dados**

In [0]:
writer = pd.ExcelWriter('Relatório final.xlsx')

df_relatorio.to_excel(writer, sheet_name='relatorio', index=False)

writer.save()